.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #2E2E2E;
	z-index: 2;
	padding-top: 40px;
	padding-bottom: 20px;
	}
	

#wrapper{
 	height: 1800px;
 	min-height: 100%;
 	position:relative;
 	margin-bottom: 0px;
}


.product_blue	{
	width:570px;
	height:370px;
	background:url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1592211613846_1000.jpg);
	background-size: COVER;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

.product_blue2	{
	background: url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/default/image_1616141210495_1500.png);
	background-size: contain;
	background-attachment: scroll;
	background-repeat: no-repeat;
	width: 1100px;
	height: 200px;
	margin-left: 75px;
	margin-right: 75px;
	
}



.product_pink	{
	width:570px;
	height:370px;
	background:url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1604973738488_1000.jpg);
	background-size: contain;
	background-attachment: scroll;
}

.product_lime {
	width:570px;
	height:370px;
	background:url(https://mblogthumb-phinf.pstatic.net/MjAxODAzMzFfNCAg/MDAxNTIyNDgwNzQ5Mjc1.eYpPf3L-Kuvz8nQyQugFNstNfnNbqiKAXmZjTTfJi6Qg.vrSQ6HHewNgiRLr62wdUUH9Mfu3oSe_Mkv-_i5qpWYsg.PNG.ksiimn239/maxkeylime-on-z70_1024x1024.png?type=w800);
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	
}

.product_brown	{
	width:570px;
	height:370px;
	background:url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1594365523540_1000.jpg); background-size: cover; background-attachment: scroll; 
	margin-bottom: 15px;
	background-repeat: no-repeat; 
	
}

.left_div	{
	font-family: 'Edu NSW ACT Foundation', cursive;
	text-align: center;
	padding-left: 35px;
	width: 570px;
	height: 20px;
}

.right_div	{
	padding-right:35px;
	text-align: center;
	font-family: 'Edu NSW ACT Foundation', cursive;
	width: 570px;
	height: 20px;
}


h6 {
	color: gray;
	text-align: center;
	
}


.blue_mat{
	width: 750px;
	height: 600px;
	background: url(https://deskmat.io/_next/image?url=%2Fr%2Fbluescreen-qr.png&w=1920&q=75);
	background-size: contain;
	background-attachment: scroll;
	background-repeat: no-repeat;
	float: left;
	margin-left: 40px;
}

.green_mat{
	width: 400px;
	height: 206px;
	background: url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1604025875503_1000.png);
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	margin-left: 1000px;
	float: right;
	
}
.green_mat2{
	background: url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1604025875503_1000.png);
	background-size: contain;
	background-attachment: scroll;
	background-repeat: no-repeat;
	float: left;
	
}

.black_mat{
	width:400px;
	height:206px;
	background:url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1604025864342_1000.png);
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	float: right;
	
}
.black_mat2{
	background:url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1604025864342_1000.png);
	background-size: contain;
	background-attachment: scroll;
	background-repeat: no-repeat;
	float: left;
}
.detail_img1{
	width: 800px;
	height: 200px;
	background:url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1604023971492_1000.png);
	margin-left: 100px;
	background-size:contain;
	background-attachment: scroll;
	background-repeat: no-repeat;
	
}

.detail_img2{
	width: 800px;
	height: 450px;
	background:url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1604023871746_1000.png);
	margin-left: 100px;
	background-size:contain;
	background-attachment: scroll;
	background-repeat: no-repeat;
	
}
.detail_img3{
	width: 800px;
	height: 450px;
	background:url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1604023883793_1000.png);
	margin-left: 100px;
	background-size:contain;
	background-attachment: scroll;
	background-repeat: no-repeat;
	
}
.detail_img4{
	width: 800px;
	height: 450px;
	background:url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1604023891851_1000.png);
	margin-left: 100px;
	background-size:contain;
	background-attachment: scroll;
	background-repeat: no-repeat;
	
}
.detail_img5{
	width: 800px;
	height: 450px;
	background:url(https://contents.sixshop.com/thumbnails/uploadedFiles/99160/product/image_1604023899309_1000.png);
	margin-left: 100px;
	background-size:contain;
	background-attachment: scroll;
	background-repeat: no-repeat;
	
}

.blue_mat2{
	background: url(https://deskmat.io/_next/image?url=%2Fr%2Fbluescreen-qr.png&w=1920&q=75);
	background-size: contain;
	background-attachment: scroll;
	background-repeat: no-repeat;
	float: left;
}

.footer{
	background-color: #2E2E2E;
	width: 100%;
	height: 700px;
	margin-bottom: 0px;
	position : absolute;
	bottom: 0;
}



.footermain{
	background-color: #2E2E2E;
	width: 100%;
	height: 700px;
	margin-bottom: 0px;
	bottom: 0;
}

.line{

	border-left: thick solid #2E2E2E;
	height:100%;
	left: 40%;
	position: absolute;
	border-left-width: 3px; 
}

.linesm{

	border-left: thick solid #2E2E2E;
	height:20px;
	position: absolute;
	border-left-width: 2px; 
}

.btnline	{
	width: 500px;
	margin-left: 120px;
	margin-right:20px;
}


#ll{
	padding-bottom: 20px;
	padding-top: 20px;
	
	
}

.textbox	{
	width: 500px;
}

div {
		margin-bottom: 10px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	padding: 50px 0;
	font-weight: 400;
}

p {
	margin: 0 0 20px;
	line-height: 1.5;
}

.main {
	min-width: 1100px;
	max-width: 1100px;
	padding: 50px;
	margin: 0 auto;
	background: #ffffff;
}

section {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid black;
}

#tab1{
	display: none;
}
#tab2{
	display: none;
}
#tab3{
	display: none;
}
#tab4{
	display: none;
}
.label_tab {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
}

label:hover {
	color: #2e9cdf;
	cursor: pointer;
}

/*input 클릭시, label 스타일*/
input:checked+.label_tab {
	color: #555;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid #ffffff;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~
	#content3, #tab4:checked ~ #content4 {
	display: block;
}



.table_head{
	padding-top: 25px;
	padding-bottom: 10px;
}
.table_body{
	padding-bottom: 15px;
	padding-top: 15px;
}


table {
	border-collapse: collapse;
}


 th, td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.box_QA {
	background-color: #D5D3D3;
	width: 300px;
	height: 100%;
	text-align: center;
	display: flex;
    align-items: center;
}



.form_radio_btn {
			width: 250px;
			height : 45px;
    		border: 1px solid #2E2E2E;
		}
		.form_radio_btn input[type=radio] {
			display: none;
		}
		.form_radio_btn label {
			display: block;
    		border-radius: 10px;
   			margin: 0 auto;
    		text-align: center;
    		height: -webkit-fill-available;
    		line-height: 45px;
		}
		 
		/* Checked */
		.form_radio_btn input[type=radio]:checked + label {
			background: #2E2E2E;
			color: #fff;
		}
		 
		/* Hover */
		.form_radio_btn label:hover {
			color: #666;
		}
		 
		/* Disabled */
		.form_radio_btn input[type=radio] + label {
			background: #F9FAFC;
			color: #666;
		}











