<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bess.ham.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="bess.ham.infra.modules.code.Code"></resultMap>
	
	
	
	
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			CC.seq AS CCseq
			,CCG.seq AS CCGseq
			,CCG.groupName AS CCGname
			,CCG.groupName_code AS CCGname_code
			,CCG.groupName_en AS CCGname_en
			,CCG.delYn AS CCGdelYn
			,CC.codeName_code AS CCname_code			
			,CC.codeName AS CCname
			,CC.regdate AS CCregdate
			,CC.delYn AS CCdelYn
		FROM codeGroup CCG
		LEFT JOIN code CC ON CCG.seq = CC.group_seq
		WHERE 1=1
			<choose>
				<when test="shDelYn == 2">AND CC.delYn is not null</when>
				<when test="shDelYn != null and !shDelYn.equals('')">AND CC.delYn = #{shDelYn}</when>
			</choose>
			<choose>
				<when test="shOption == 1">AND groupName_code Like CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 2">AND groupName Like CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND codeName_code Like CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 4">AND codeName Like CONCAT('%',#{shValue},'%')</when>
			</choose>
		ORDER BY CC.seq ASC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	
	<insert id="insert">
		INSERT INTO code(
			group_seq
	    	,codeName_code
	    	,codeName
	    	,regdate
	    	,delYn
		)
		
		VALUES (
			#{group_seq}
			,#{CCname_code}
			,#{CCname}
			,NOW()
			,1
		)
		<selectKey resultType="String" keyProperty="CCseq" order="AFTER">
		SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE code
		SET 
			group_seq = #{group_seq}
			,codeName_code = #{CCname_code}
			,codeName = #{CCname}
			,delYn = #{delYn}
		WHERE
			seq = #{seq}
	
	</update>
	
	<resultMap id="resultMapGroup" type="bess.ham.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="groupList" resultMap="resultMapGroup">
	
		SELECT 
			seq as CCGseq
			,groupName as CCGname
		FROM codeGroup
		WHERE 1=1

		
	</select>
	
<!--
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq as CCseq
			,codeName as CCname
			,codeName_code as CCname_code
			,delYn as CCdelYn
		FROM code
		WHERE 1=1
		AND seq = #{shSeq}
	</select> -->
	
	
	
	
	
	<select id="selectOne" resultMap="resultMapObj">
	
		SELECT 
			CC.seq AS CCseq
			,CCG.seq AS CCGseq
			,CCG.groupName AS CCGname
			,CCG.groupName_code AS CCGname_code
			,CCG.groupName_en AS CCGname_en
			,CCG.delYn AS CCGdelYn
			,CC.codeName_code AS CCname_code			
			,CC.codeName AS CCname
			,CC.regdate AS CCregdate
			,CC.delYn AS CCdelYn
		FROM codeGroup CCG
		LEFT JOIN code CC ON CCG.seq = CC.group_seq
		WHERE 1=1
		AND CC.seq = #{shSeq}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT
			count(*)
		FROM codeGroup CCG
		LEFT JOIN code CC ON CCG.seq = CC.group_seq
		WHERE 1=1
			<choose>
				<when test="shDelYn == 2">AND CC.delYn is not null</when>
				<when test="shDelYn != null and !shDelYn.equals('')">AND CC.delYn = #{shDelYn}</when>
			</choose>
			<choose>
				<when test="shOption == 1">AND groupName_code Like CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 2">AND groupName Like CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND codeName_code Like CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 4">AND codeName Like CONCAT('%',#{shValue},'%')</when>
			</choose>
	</select>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
	SELECT
		seq as CCseq
		,codeName as CCname
		,group_seq as CCGseq
	FROM code
	WHERE 1=1
    </select>
	
</mapper>	