<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bess.ham.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="bess.ham.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		<!-- SELECT
			a.*
		FROM codeGroup a
		WHERE 1=1
			AND delYn = 1
			AND groupName LIKE CONCAT('%',#{shValue},'%')
			 -->
			
			
		SELECT
			CCG.seq
	    	,CCG.groupName
	    	,CCG.groupName_en
			,(select count(CC.seq) from code CC where 1=1 and group_seq = CCG.seq) as CCcount
	    	,CCG.regdate
		FROM  codeGroup CCG
		WHERE 1=1
		<!-- AND groupName LIKE CONCAT('%',#{shValue},'%') -->
		<if test="shDelYn != null and !shDelYn.equals('')">AND CCG.delYn = #{shDelYn}</if>
		<!-- <if test="shregdate_s != null and !shregdate_s.equals('') and shregdate_e != null and !shregdate_e.equals('')">AND CCG.regdate between #{shregdate_s} and #{shregdate_e}</if> -->
		<choose>
			<when test="shOption == 1">AND CCG.seq = #{shValue}</when>
			<when test="shOption == 2">AND CCG.groupName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND CCG.groupName_en LIKE CONCAT('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
		<choose>
			<when test="shdate == 1">AND CCG.regdate between #{shdate_s} and #{shdate_e}</when>
			<when test="shdate == 2">AND CCG.moddate between #{shdate_s} and #{shdate_e}</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	
	<insert id="insert">
		INSERT INTO codeGroup(
	    	groupName
	    	,groupName_en
	    	,regdate
	    	,delYn
		)
		
		VALUES (
			#{groupName}
			,#{groupName_en}
			,NOW()
			,1
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
		SELECT last_insert_id()
		</selectKey>
	</insert>	
</mapper>	