<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Base">
	<sql id="selectListUpperForMysql">
		select aa.* FROM(
	</sql>
    <sql id="selectListLowerForMysql">
    	) aa
    	
    	limit #{rowNumToShow} offset #{startRnumForMysql}
    </sql>
	<sql id = "code">
		SELECT
			CC.seq AS CCseq
			,CCG.seq AS CCGseq
			,CCG.groupName AS CCGname
			,CCG.groupName_code AS CCGname_code
			,CCG.groupName_en AS CCGname_en
			,CCG.delYn AS CCGdelYn
			,CC.seq AS CCseq
			,CC.codeName_code AS CCname_code			
			,CC.codeName AS CCname
			,CC.regdate AS CCregdate
			,CC.delYn AS CCdelYn
		FROM codeGroup CCG
		LEFT JOIN code CC ON CCG.seq = CC.group_seq
	</sql>
	
</mapper>	