<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bess.ham.infra.modules.product.ProductMapper">

    <resultMap id="resultMapObj" type="bess.ham.infra.modules.product.Product"></resultMap>
    
    
	
	<select id="selectListMain" resultMap="resultMapObj"> 
		SELECT 
			pr.seq AS ifprSeq
            ,pr.category
            ,pr.title
            ,pr.star
            ,pr.price
            ,pr.stock
		FROM product pr
		WHERE 1=1 
		AND mainYn = 1
		<if test="category != null and !category.equals('')">AND pr.category = #{category}</if>
		;
	</select>
	
	<select id="selectListShop" resultMap="resultMapObj"> 
		SELECT 
			pr.seq as ifprSeq
			,pr.category
			,pr.title
			,pr.star
			,pr.price
			,pr.stock
			,pr.uploadDate
			,pro.optionMain
			,group_concat(pro.optionSub separator ',') AS 'optionSub'
		from product pr
		left JOIN productOption pro ON pr.seq = pro.product_seq
		WHERE 1=1 
		<if test="category != null and !category.equals('')">AND pr.category = #{category}</if>
		group by product_seq
		;
<!-- 	
	
		SELECT 
			pr.seq AS ifprSeq
            ,pr.category
            ,pr.title
            ,pr.star
            ,pr.price
            ,pr.stock
		FROM product pr
		WHERE 1=1 
		<if test="category != null and !category.equals('')">AND pr.category = #{category}</if>
		; -->
	</select>
	
	<insert id="insert">
		INSERT INTO product(
	    	category
	    	,title
	    	,price
	    	,stock
		)
		
		VALUES (
			#{category}
			,#{title}
			,#{price}
			,#{stock}
		)
		<selectKey resultType="String" keyProperty="ifprSeq" order="AFTER">
		SELECT last_insert_id()
		</selectKey>
	</insert>
	
	
	<select id="selectOne" resultMap="resultMapObj"> 
		SELECT 
			pr.seq as ifprSeq
            ,pr.category
            ,pr.title
            ,pr.star
            ,pr.price
            ,pr.stock
            ,pr.uploadDate
            ,pro.optionMain
		    ,group_concat(pro .optionSub separator ',') AS 'optionSub'
		from product pr
		LEFT JOIN productOption pro 
		ON pr.seq = pro.product_seq
		WHERE 1=1 
		AND pr.seq = #{ifprSeq}
		group by product_seq
		;
	</select>

	<select id="selectListReview" resultMap="resultMapObj"> 
		SELECT 
			re.seq as ifprReviewSeq
    		,mm.id
    		,pr.title
   		 	,re.content as ifprReviewContent
   		 	,re.regDate as ifprReviewRegDate
		from review re
		left join product pr ON pr.seq = re.product_seq
		inner JOIN member mm ON mm.seq = re.member_seq
		where 1=1
		AND product_seq = #{ifprSeq}
		;
	</select>
	<insert id="insertReview">
		INSERT INTO review
		(
			,member_seq
			,product_seq
			,content as ifprReviewContent
			,regDate as ifprReviewRegDate
			,star
		)
		VALUES(
			,#{member_seq}
			,#{ifprSeq}
			,#{ifprReviewContent}
			,NOW()
			,#{star}
		)
		<selectKey resultType="String" keyProperty="ifprReviewSeq" order="AFTER">
		SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectListQa" resultMap="resultMapObj">
		SELECT 
			qa.seq as ifprQaSeq
			,qa.answerYn
    		,mm.id
    		,qa.member_seq
    		,pr.title
   	 		,qa.product_seq
   	 		,qa.ifprQaTitle
   	 		,qa.content as ifprQaContent
    		,qa.regdate as ifprQaRegDate
		from qa qa
		inner JOIN member mm ON mm.seq = qa.member_seq
		INNER JOIN product pr ON pr.seq = qa.product_seq
		where 1=1
		<if test="ifprSeq != null and !ifprSeq.equals('')">AND product_seq = #{ifprSeq}</if>
		<if test="shSeq != null and !shSeq.equals('')">AND member_seq = #{shSeq}</if>
		;
	</select>
	
	<insert id="insertQa">
		INSERT INTO qa
		(
			member_seq
   	 		,product_seq
   	 		,answerYn
   	 		,ifprQatitle 
   	 		,content 
    		,regdate 
		)
		
		VALUES (
			#{member_seq}
			,#{ifprSeq}
			,0
			,#{ifprQaTitle}
			,#{ifprQaContent}
			,NOW()
		)
		<!-- keyProperty = dto컬럼이름 -->
		<selectKey resultType="String" keyProperty="ifprQaSeq" order="AFTER">
		SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectListUploaded" resultMap="resultMapObj">
		SELECT 
			seq
			,type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,delYn
			,pseq
		FROM productUploaded
		WHERE 1=1
			AND delYn = 0
			AND pseq = #{ifprSeq}
		ORDER BY
			type, sort
	</select>
	
	<update id="update">
		UPDATE product
		SET
			title = #{title}
			,price = #{price}
			,stock = #{stock}
			,mainYn = #{mainYn}
			,ifprUseYn = #{ifprUseYn}
			,ifprDelYn = #{ifprDelYn}
		WHERE 1=1
		AND ifprSeq = #{ifprSeq}
	</update>
	
	<insert id="insertProductOption">
		INSERT INTO productOption(
	    	,product_seq
	    	,optionMain
	    	,optionSub
		)
		
		VALUES (
			#{ifprSeq}
			,#{optionMain}
			,#{optionSub}
		)
		<selectKey resultType="String" keyProperty="ifpoSeq" order="AFTER">
		SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="updateProductOption">
		UPDATE productOption
		SET
			optionMain = #{optionMain}
			,optionSub = #{optionSub}
		WHERE 1=1
		AND ifprSeq = #{ifprSeq}
	</update>
</mapper>	



