<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bess.ham.infra.modules.product.ProductMapper">

    <resultMap id="resultMapObj" type="bess.ham.infra.modules.product.Product"></resultMap>
    
    
	
	<select id="selectListMain" resultMap="resultMapObj"> 
		SELECT 
			pro.seq
			,pr.category
			,pr.title
			,pro.option
			,pro.optionSub
			,pr.price
			,pr.stock
			,pr.mainYn
		FROM product pr
		LEFT JOIN productOption pro ON pr.seq = pro.product_seq
		WHERE 1=1
		AND mainYN = 1
		<if test="category != null and !category.equals('')">AND pr.category = #{category}</if>
		;
	</select>
	
	<select id="selectListShop" resultMap="resultMapObj"> 
		SELECT 
			pr.seq
            ,pr.category
            ,pr.title
            ,pr.star
            ,pr.price
            ,pr.stock
            ,pro.option
		    ,group_concat(pro .optionSub separator ',') AS 'optionSub'
		from(
			select
		    pr.seq
            ,pr.category
            ,pr.title
            ,pr.star
            ,pr.price
            ,pr.stock
		    from product pr
			order by pr.seq DESC 
		    ) pr
		LEFT JOIN productOption pro 
		ON pr.seq = pro.product_seq
		WHERE 1=1 
		<if test="category != null and !category.equals('')">AND pr.category = #{category}</if>
		group by product_seq
		;
	</select>
	
	<insert id="insert">
		INSERT INTO product(
	    	category
	    	,title
	    	,price
	    	,stock
		)
		
		VALUES (
			#{category}
			,#{title}
			,#{price}
			,#{stock}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
		SELECT last_insert_id()
		</selectKey>
	
	</insert>
	

	

</mapper>	



